# Общие настройки базы данных
DB_HOST=postgres_db
DB_USER=username
DB_PASS=sercet_password
DB_NAME=shorturls
DB_TYPE=postgres # или mongo

# Настройки PostgreSQL
POSTGRES_POOL_SIZE=10
POSTGRES_MAX_OVERFLOW=20

# Настройки MongoDB
MONGO_COLLECTION=links

# Настройки Redis
REDIS_HOST=localhost
REDIS_MAX_CONNECTIONS=10
REDIS_URL_TTL=604800

# Настройки сервиса
SHORT_URL_LENGTH=6 # Длина slug-а ссылки
CLICKS_FLUSH_INTERVAL=5 # Частота сбора кликов в БД в секундах
BOT_TOKEN=secret_bot_token # Токен Telegram бота
